/* ipad and tablets-portrait */
@media screen and (max-width: 760px) {
  [aria-controls="navbarDowndrop"] {
    display: block;
  }
}

[aria-expanded="false"] ˜ ul {
  display: none;
}

[aria-expanded="true"] ˜ ul {
  display: block;
}
